<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="TeamFastTalk.BrickBlast"
    Publisher="CN=BrickBlast"
    Version="1.0.0.0"
    ProcessorArchitecture="neutral" />

  <mp:PhoneIdentity
    PhoneProductId="6e8a2b1c-4f3d-4e5a-9c7b-8d2e1f0a3b4c"
    PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Brick Blast</DisplayName>
    <PublisherDisplayName>Team Fast Talk</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application Id="BrickBlast"
      Executable="BrickBlast.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Brick Blast"
        Description="A fast-paced brick-breaking arcade game. Break bricks, collect power-ups, climb the leaderboard!"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          ShortName="Brick Blast" />
        <uap:SplashScreen Image="Assets\Square150x150Logo.png" BackgroundColor="#1a1a2e" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
